{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" href="{% url 'add_book'%}" role="button">Add New Book</a>
<h2>Book Info</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
            <th scope="col">Genere</th>
            <th scope="col">Synopsis</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.synopsis}}</td>
            <td>
                <a class="btn btn-info" href="{% url 'update_book' book.id%}" role="button">Update</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'delete_book' book.id%}" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}